<?xml version="1.0"?>

<model>
  <name>trevi font</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dae Tech</name>
    <email>juan.beron@upb.edu.co</email>
  </author>
  
  <description>
    this is the 3d tiles map and jail collision of trevi font in italy, small area, medium level details.
  </description>

</model>